@import "tailwindcss";

@theme {
  --animate-gradient: gradient-move 4s ease-in-out infinite;
  --animate-rotate-30-hover: rotate30 0.4s ease-out forwards;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotate30 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(30deg);
  }
}